.about-work {
    display: flex;
    flex-direction: column;
}
.about-work__right {
    display: flex;
}
.about-work__img-container {
    display: flex;
    width: 100%;
}
.about-work__img {
    margin-left: auto;
}
.about-work__img-container-left {
    display: flex;
    order: 2;
    width: 100%;
}
.about-work__img-left {
    margin-right: auto;
}
.about-work__container {
    width: 100%;
    background-color: #EAEAEA;
}
.about-work__description-container {
    max-width: 491px;
    margin: 48px auto 64px 39px;
    display: flex;
    flex-direction: column;
}
.about-work__description-container-left {
    max-width: 491px;
    margin: 48px 39px 64px auto;
    display: flex;
    flex-direction: column;
    order: 1;
}
.about-work__heading {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #009EE2;
    margin: 0;
    border-bottom: 1px solid #009EE2;
}
.about-work__description {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 24px;
    margin: 16px 0 0;
    color: #180000;
}
.about-work__description:first-of-type {
    margin-top: 32px; 
}
.about-work__lists {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 24px;
    color: #180000;
    padding: 0;
    margin: 8px 0 0;
}
.about-work__list {
    list-style-position: inside;
    color: #180000;
}
.about-work__list::marker {
    color: #009EE2;
    margin: 0 10px 0 1px;
}
.about-work-button {
    margin: 32px 0 0 auto;
    width: 164px;
    height: 55px;
    border: 1px solid #009EE2;
    border-radius: 6px;
}
.about-work-button:hover {
    cursor: pointer;
}
.about-work-button:active {
    background-color: #009EE2;
}
.about-work-button:active .about-work-button__text {
    color: #FFFFFF;
}
.about-work-button:focus {
    outline: none;
}
.about-work-button__text {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    color: #009EE2;
}
.about-work__left {
    display: flex;
}
.about-work-button-left {
    margin: 32px auto 0 0;
    width: 164px;
    height: 55px;
    border: 1px solid #009EE2;
    border-radius: 6px;
}
.about-work-button-left:hover {
    cursor: pointer;
}
.about-work-button-left:active {
    background-color: #009EE2;
}
.about-work-button-left:active .about-work-button__text {
    color: #FFFFFF;
}
.about-work-button-left:focus {
    outline: none;
}
@media screen and (max-width: 1150px) {
    .about-work__description-container {
        max-width: 402px;
    }
    .about-work__description-container-left {
        max-width: 402px;
    }
    .about-work__img {
        width: 480px;
    }
    .about-work__img-left {
        width: 480px;
    }
}
@media screen and (max-width: 990px) {
    .about-work {
        width: 720px;
        margin: 0 auto 0;
    }
    .about-work__right {
        flex-direction: column;
    }
    .about-work__left {
        flex-direction: column;
    }
    .about-work__img-container {
        max-height: 335px;
        overflow: hidden;
    }
    .about-work__img {
        margin: -90px 0 0;
        width: 100%;
        min-height: 700px;
    }
    .about-work__img-container-left {
        order: 0;
        max-height: 335px;
        overflow: hidden;
    }
    .about-work__img-left {
        margin: -40px 0 0;
        width: 100%;
        min-height: 600px;
    }
    .about-work__description-container {
        max-width: 642px;
        margin: 32px auto 48px;
    }
    .about-work__description-container-left {
        max-width: 642px;
        margin: 32px auto 48px;
    }
    .about-work__heading {
        font-size: 28px;
        line-height: 35px;
    }
    .about-work__description {
        font-size: 18px;
        line-height: 25px;
    }
    .about-work__description:first-of-type {
        margin-top: 16px; 
    }
    .about-work__lists {
        font-size: 18px;
        line-height: 25px;
        margin: 4px 0 0;
    }
    .about-work-button {
        margin: 16px 0 0 auto;
    }
    .about-work-button-left {
        margin: 16px 0 0 auto;
    }
    .about-work-button__text {
        font-size: 22px;
        line-height: 28px;
    }
}
@media screen and (max-width: 730px) {
    .about-work {
        width: 395px;
    }
    .about-work__img-container {
        max-height: 183px;
    }
    .about-work__img {
        margin: 0;
        width: 100%;
    }
    .about-work__img-container-left {
        max-height: 183px;
    }
    .about-work__img-left {
        margin: 0;
        width: 100%;
    }
    .about-work__description-container {
        max-width: 335px;
    }
    .about-work__description-container-left {
        max-width: 335px;
    }
    .about-work__heading {
        font-size: 24px;
        line-height: 30px;
    }
    .about-work__description {
        font-size: 16px;
        line-height: 22px;
    }
    .about-work__lists {
        font-size: 16px;
        line-height: 22px;;
    }
    .about-work-button__text {
        font-size: 20px;
        line-height: 25px;
    }
    .about-work-button {
        width: 152px;
        height: 46px;
    }
    .about-work-button-left {
        width: 152px;
        height: 46px;
    }
}