.popup {
    display: flex;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s, opacity .3s linear;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .4);
}
.popup_opened {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s;
}
.popup__form-background {
    margin: auto;
    background-color: #000000;
    padding: 90px 80px;
    border-radius: 5px;
}
.popup__close-button {
    background-image: url('../../images/svg/close-button-icon.svg');
    position: absolute;
    right: -40px;
    top: -50px;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 42px;
    height: 42px;
}
.popup__close-button:hover {
    opacity: .6;
    cursor: pointer;
}
.popup__close-button:focus {
    outline: none;
}
.footer__form_type-popup {
    position: relative;
}
.footer__form-heading_type-popup {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 57px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}
.footer__form-span_type-popup {
    color: #FFFFFF;
}
.form__input_error {
    font-family: 'Open Sans Condensed';
    color: #ff0000;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
}
@media screen and (max-width: 1440px) {
    .popup__form-background {
        padding: 60px 50px;
    }
    .footer__form_type-popup {
        width: 350px;
    }
    .footer__form-heading_type-popup {
        font-size: 25px;
        line-height: 37px;
    }
    .footer__form-span_type-popup {
        font-size: 15px;
        line-height: 17px;
    }
    .footer__form-input_type-popup {
        height: 35px;
    }
    .footer__form-textarea_type-popup {
        height: 100px;    
        margin-bottom: 32px;
    }
    .button-green_footer_type-popup {
        width: 220px;
        height: 50px;
    }
    .button-green__text_type-popup {
        font-size: 26px;
        line-height: 35px;
    }
}
@media screen and (max-width: 650px) {
    .popup__form-background {
        padding: 40px 30px;
    }
    .popup__close-button {
        right: -20px;
        top: -75px;
        width: 32px;
        height: 32px;
    }
    .footer__form_type-popup {
        width: 300px;
    }
    .footer__form-heading_type-popup {
        font-size: 25px;
        line-height: 35px;
    }
    .footer__form-input_type-popup {
        height: 30px;
    }
    .form__input_error {
        font-size: 12px;
        line-height: 14px;
    }
    .footer__form-textarea_type-popup {
        height: 80px;    
        margin-bottom: 22px;
    }
    .button-green_footer_type-popup {
        width: 200px;
        height: 40px;
    }
    .button-green__text_type-popup {
        font-size: 22px;
        line-height: 30px;
    }
}
@media screen and (max-width: 415px) {
    .popup__form-background {
        padding: 30px 20px;
    }
    .popup__close-button {
        right: -10px;
        top: -35px;
        width: 15px;
        height: 15px;
    }
    .footer__form_type-popup {
        width: 250px;
        margin-top: 20px;
    }
    .footer__form-heading_type-popup {
        font-size: 20px;
        line-height: 30px;
    }
    .footer__form-input_type-popup {
        height: 25px;
    }
    .form__input_error {
        font-size: 10px;
        line-height: 12px;
    }
    .footer__form-textarea_type-popup {
        height: 60px;    
        margin-bottom: 22px;
    }
    .button-green_footer_type-popup {
        width: 100%;
        height: 40px;
    }
}
@media screen and (max-height: 375px) {
    .popup__form-background {
        padding: 25px 20px;
    }
    .popup__close-button {
        right: -10px;
        top: -15px;
        width: 15px;
        height: 15px;
    }
    .footer__form_type-popup {
        height: 250px;
    }
    .footer__form-heading_type-popup {
        font-size: 20px;
        line-height: 30px;
        margin-top: 0;
    }
    .footer__form-span_type-popup {
        font-size: 10px;
        line-height: 12px;
    }
    .footer__form-input_type-popup {
        height: 30px;
    }
    .footer__form-textarea_type-popup {
        height: 30px;    
        margin-bottom: 15px;
    }
    .button-green_footer_type-popup {
        width: 100%;
        height: 50px;
    }
    .button-green__text_type-popup {
        font-size: 16px;
        line-height: 25px;
    }
}
@media screen and (max-height: 320px) {
    .popup__form-background {
        padding: 15px 20px;
    }
    .popup__close-button {
        right: -10px;
        top: -1px;
        width: 15px;
        height: 15px;
    }
    .footer__form_type-popup {
        height: 250px;
    }
    .footer__form-heading_type-popup {
        font-size: 20px;
        line-height: 30px;
        margin-top: 0;
    }
    .footer__form-span_type-popup {
        font-size: 10px;
        line-height: 12px;
    }
    .footer__form-input_type-popup {
        height: 20px;
    }
    .footer__form-textarea_type-popup {
        height: 30px;    
        margin-bottom: 15px;
    }
    .button-green_footer_type-popup {
        width: 100%;
        height: 50px;
    }
    .button-green__text_type-popup {
        font-size: 16px;
        line-height: 25px;
    }
}