.about-work__container_green {
    background-color: #EFEAD7;
}
.about-work__heading-green {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #61CE70;
    margin: 0;
    border-bottom: 1px solid #61CE70;
}
.about-work-button-green {
    margin: 32px 0 0 auto;
    width: 164px;
    height: 55px;
    border: 1px solid #61CE70;
    border-radius: 6px;
    background-color: #EFEAD7;
}
.about-work-button-green:hover {
    cursor: pointer;
}
.about-work-button-green:active {
    background-color: #61CE70;
}
.about-work-button-green:active .about-work-button__text-green {
    color: #FFFFFF;
}
.about-work-button-green:focus {
    outline: none;
}
.about-work-button-left-green {
    margin: 32px auto 0 0;
    width: 164px;
    height: 55px;
    border: 1px solid #61CE70;
    border-radius: 6px;
    background-color: #EFEAD7;
}
.about-work-button-left-green:hover {
    cursor: pointer;
}
.about-work-button-left-green:active {
    background-color: #61CE70;
}
.about-work-button-left-green:active .about-work-button__text-green {
    color: #FFFFFF;
}
.about-work-button-left-green:focus {
    outline: none;
}
.about-work-button__text-green {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    color: #61CE70;
}
.about-work__img_fifth {
    background-image: url(../../images/1440/img-5-1440.jpg);
}
.about-work__img-left_sixth {
    background-image: url(../../images/1440/img-6-1440.jpg);
}
.about-work__img_seventh {
    background-image: url(../../images/1440/img-7-1440.jpg);
}
@media screen and (max-width: 1150px) {
    .about-work__img_fifth {
        background-image: url(../../images/1024/img-5-1024.jpg);
        background-size: cover;
    }
    .about-work__img-left_sixth {
        background-image: url(../../images/1024/img-6-1024.jpg);
    }
    .about-work__img_seventh {
        background-image: url(../../images/1024/img-7-1024.jpg);
    }
}
@media screen and (max-width: 990px) {
    .about-work__heading-green {
        font-size: 28px;
        line-height: 35px;
    }
    .about-work-button-green {
        margin: 16px 0 0 auto;
    }
    .about-work-button-left-green {
        margin: 16px 0 0 auto;   
    }
    .about-work-button__text-green {
        font-size: 22px;
        line-height: 28px;
    }
    .about-work__img_fifth {
        background-image: url(../../images/768/img-5-768.jpg);
        background-size: contain;
    }
    .about-work__img-left_sixth {
        background-image: url(../../images/768/img-6-768.jpg);
    }
    .about-work__img_seventh {
        background-image: url(../../images/768/img-7-768.jpg);
    }
}
@media screen and (max-width: 730px) {
    .about-work__heading-green {
        font-size: 24px;
        line-height: 30px;
    }
    .about-work-button-green {
        width: 152px;
        height: 46px;
    }
    .about-work-button-left-green {
        width: 152px;
        height: 46px;  
    }
    .about-work-button__text-green {
        font-size: 20px;
        line-height: 25px;
    }
    .about-work__img_fifth {
        background-image: url(../../images/425/img-5-425.jpg);
    }
    .about-work__img-left_sixth {
        background-image: url(../../images/425/img-6-425.jpg);
    }
    .about-work__img_seventh {
        background-image: url(../../images/425/img-7-425.jpg);
    }
}
@media screen and (max-width: 415px) {
    .about-work__img_fifth {
        background-image: url(../../images/320/img-5-320.jpg);
    }
    .about-work__img-left_sixth {
        background-image: url(../../images/320/img-6-320.jpg);
    }
    .about-work__img_seventh {
        background-image: url(../../images/320/img-7-320.jpg);
    }
}