.header {
    display: flex;
    margin: 0 118px;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 15px;
}
.header__burger-menu {
    background-image: url(../../images/svg/burger-menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 31px;
    height: 21px;
    align-self: center;
    margin: 0 0 0 auto;
    visibility: hidden;
}
.header__burger-menu:hover {
    opacity: .6;
    cursor: pointer;
}
.header-mobile-popup {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #000000;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.header-mobile-popup_active {
    display: flex;
}
.header-mobile-popup__close-button {
    background-image: url('../../images/svg/close-button-icon.svg');
    background-position: center;
    background-color: transparent;
    border: none;
    width: 16px;
    height: 16px;
    margin: 14px 16px 0 auto;
}
.header-mobile-popup__close-button:hover {
    opacity: .6;
    cursor: pointer;
}
.header-mobile-popup__links-row {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0;
}
.header-mobile-popup__link {
    display: flex;
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: none;
    margin: 0 auto 16px 0;
}

.header-mobile-popup__link:hover {
    text-decoration: underline;
}
.header-mobile-popup__link:active {
    color: #009EE2;
}
.header-mobile-popup__link:active .header-mobile-popup__vector-icon  {
    background-image: url(../../images/svg/vector-blue.svg);
}
.header-mobile-popup__link:active .header-mobile-popup__emai-icon  {
    background-image: url(../../images/svg/email-icon-blue.svg);
}
.header-mobile-popup__link:active .header-mobile-popup__phone-numbers-icon  {
    background-image: url(../../images/svg/phone-icon-blue.svg);
}

.header-mobile-popup__link:last-of-type {
    margin-bottom: 48px;
}
.header-mobile-popup__link_phone-number {
    font-weight: bold;
}
.header-mobile-popup__phone-numbers-icon {
    background-image: url(../../images/svg/phone-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 16px;
    margin: 6px 7px auto 0;
}
.header-mobile-popup__emai-icon {
    background-image: url(../../images/svg/email-icon.svg);
    background-repeat: no-repeat;
    width: 12px;
    height: 10px;
    background-size: contain;
    margin: 8px 7px auto 0;
}
.header-mobile-popup__vector-icon {
    background-image: url(../../images/svg/vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
    height: 20px;
    margin-right: 7px;
}
.header__row {
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    align-items: center;
    width: 100%;
}
.header__logo {
    max-height: 100px;
    max-width: 85px;
    margin-right: 272px;
}
.header-info__container_location {
    max-width: 252px;
}
.header-info__container {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 24px;
    margin: 0 auto 0 0;
    text-decoration: none;
    color: #FFFFFF;
}
.header-info__container:hover {
    text-decoration: underline;
}
.header-info__container:active {
    color: #009EE2;
}
.header-info__container:active .header-info__icon-vector  {
    background-image: url(../../images/svg/vector-blue.svg);
}
.header-info__container:active .header-info__icon-email  {
    background-image: url(../../images/svg/email-icon-blue.svg);
}
.phone-numbers__link {
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: auto;
}
.phone-numbers__link:hover {
    text-decoration: underline;
}
.phone-numbers__link:active {
    color: #009EE2;
    text-decoration: underline;
}
.phone-numbers__link:active .phone-numbers__icon  {
    background-image: url(../../images/svg/phone-icon-blue.svg);
}
.phone-numbers__icon {
    background-image: url(../../images/svg/phone-icon.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin: auto 15px auto 0;
}
.header-info__icon-vector {
    background-image: url(../../images/svg/vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 28px;
    margin-right: 15px;
}
.header-info__icon-email {
    background-image: url(../../images/svg/email-icon.svg);
    background-repeat: no-repeat;
    width: 19px;
    height: 28px;
    margin: 17px 15px auto 0;
}
.button-green {
    width: 269px;
    height: 72px;
    border-radius: 6px;
    border: none;
    background-color: #61CE70;
    color: #FFFFFF;
    padding: 0;
}
.button-green:hover {
    border: 2px solid white;
    cursor: pointer;
}
.button-green:active {
    border: 2px solid white;
    box-shadow: inset 10px 12px 16px 1px rgba(0, 0, 0, 0.4);
}
.button-green:focus {
    outline: none;
}
.button-green__text {
    font-family: 'Amatic SC', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    margin: 0;
}
@media screen and (max-width: 1640px) {
    .header {
        margin: 0 64px;
    }
    .header__logo {
        margin-right: 121px;
    }
}
@media screen and (max-width: 1384px) {
    .header {
        margin: 0 32px;
    }
    .header__logo {
        margin-right: 47px;
    }
    .header-info__container {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
    }
    .phone-numbers__link {
        font-size: 16px;
        line-height: 22px;
    }
    .header-info__container_location {
        max-width: 160px;
    }
    .phone-numbers__icon {
        width: 12px;
        height: 12px;
        margin: auto 8px auto 0;
        background-size: cover;
    }
    .header-info__icon-vector {
        width: 20px;
        height: 21px;
        margin-right: 7px;
    }
    .header-info__icon-email {
        width: 13px;
        height: 10px;
        background-size: cover;
        margin: 7px 7px auto 0;
    }
}
@media screen and (max-width: 990px) {
    .header {
        margin: 0 24px;
    }
    .button-green {
        width: 237px;
        height: 65px;
    }
    .button-green__text {
        font-size: 28px;
        line-height: 35px;
    }
    .button-green_header {
        display: none;
    }
    .phone-numbers__link_header {
        margin-right: 0;
    }
    .header__logo {
        max-height: 69px;
        max-width: 60px;
        margin-right: 75px;
    }
}
@media screen and (max-width: 730px) {
    .header {
        margin: 0 15px;
        padding-bottom: 20px;
    }
    .header__row {
        display: none;
    }
    .header__burger-menu {
        visibility: visible;
    }
    .button-green {
        width: 207px;
        height: 58px;
    }
    .button-green__text {
        font-size: 24px;
        line-height: 30px;
    }
}