.footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 180px 0 0;
}
.footer__map-container {
    position: relative;
}
.footer__logo {
    position: absolute;
    left: 258px;
    top: 172px;
    width: 37px;
    height: 43px;
}
.footer__heding {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 57px;
    letter-spacing: 0.12em;
    color: #180000;
    margin: 0 auto 0;
}
.footer__info-form-container {
    display: flex;
    margin: 80px auto 0;
}
.footer__info-container {
    display: flex;
    flex-direction: column;
    max-width: 652px;
    margin: 0 93px 0 0;
    background: #EAEAEA;
    overflow: hidden;
}
.header__row_column {
    flex-direction: column;
    margin: 32px auto 78px 52px;
    width: 250px;
}
.footer__map {
    background-image: url(../../images/map.jpg); 
    width: 652px;
    height: 335px;
    background-repeat: no-repeat;
}
.header-info__container_black {
    color: #180000;
    margin: 24px auto 0 0;
}
.phone-numbers__link_black {
    color: #180000;
}
.phone-numbers__icon_black {
    background-image: url(../../images/svg/phone-icon-black.svg); 
}
.header-info__icon-email_black {
    background-image: url(../../images/svg/email-icon-black.svg);
}
.header-info__icon-vector_black {
    background-image: url(../../images/svg/vector-black.svg);
    width: 20px;
}
.footer__form {
    display: flex;
    flex-direction: column;
    width: 520px;
}
.footer__form-heading {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
    margin: 0 0 32px;
}
.footer__form-span {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 24px;
    color: #000000;
    margin: 0 auto 8px 0;
}
.footer__form-span:first-of-type {
    margin-top: 0;
}
.footer__form-input {
    background: #EAEAEA;
    border-radius: 5px;
    border: none;
    height: 55px;
    padding: 0 10px;
}
.footer__form-input:focus {
    outline: none;
}
.footer__form-textarea {
    background: #EAEAEA;
    border-radius: 5px;
    border: none; 
    height: 148px;
    padding-left: 10px;
    padding-right: 10px;
    resize: none;
    margin-bottom: 64px;
}
.footer__form-textarea:focus {
    outline: none;
}
.button-green_footer {
    margin: auto 0 0 auto;
}
.footer__copyright {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin: 128px auto 64px;
}
@media screen and (max-width: 1384px) {
    .footer__info-container {
        max-width: 470px;
        margin-right: 62px;
    }
    .header-info__container_black {
        font-weight: 300;
        font-size: 22px;
        line-height: 24px;
    }
    .phone-numbers__link_black {
        font-size: 22px;
        line-height: 30px;
    }
    .phone-numbers__icon_black {
        width: 20px;
        height: 20px;
        margin: auto 15px auto 0;
    }
    .header-info__icon-email_black {
        width: 18px;
        height: 28px;
        margin: 19px 15px auto 0;
        background-size: contain;
    }
    .header-info__icon-vector_black {
        width: 20px;
        height: 28px;
        margin-right: 15px;
        background-size: contain;
    }
    .header__row_column {
        margin: 32px auto 78px 39px;
    }
    .footer__form {
        width: 428px;
    }
}
@media screen and (max-width: 1324px) {
    .footer {
        margin-top: 128px;
    }
}
@media screen and (max-width: 990px) {
    .footer {
        margin: 96px auto 0;
        max-width: 720px;
    }
    .footer__heding {
        font-size: 36px;
        line-height: 125%;
        letter-spacing: 0.125em;
    }
    .footer__info-form-container {
        margin: 48px auto 0;
    }
    .footer__info-container {
        max-width: 350px;
        margin: 0 38px 0 0;
    }
    .header__row_column {
        margin: 48px auto 71px 39px;
    }
    .footer__map {
        width: 520px;
        height: 269px;
    }
    .header-info__container_black {
        margin: 16px auto 0 0;
        font-size: 16px;
        line-height: 22px;
    }
    .phone-numbers__link_black {
        font-size: 16px;
        line-height: 22px;
    }
    .phone-numbers__icon_black {
        width: 12px;
        height: 12px;
        margin: auto 8px auto 0;
    }
    .header-info__icon-email_black {
        width: 12px;
        height: 10px;
        margin: 8px 7px auto 0;
    }
    .header-info__icon-vector_black {
        width: 12px;
        height: 21px;
        margin-right: 7px;
    }
    .footer__form {
        width: 332px;
    }
    .footer__form-heading {
        font-size: 28px;
        line-height: 35px;
        margin: 0 0 16px;
    }
    .footer__form-span {
        font-size: 18px;
        line-height: 25px;
        margin: 0 auto 4px 0;
    }
    .footer__form-input {
        height: 45px;
    }
    .footer__form-textarea {
        height: 127px;
        margin-bottom: 32px;
    }
    .footer__copyright {
        margin: 96px auto 32px;
    }
    .footer__logo {
        left: 211px;
        top: 136px;
        width: 30px;
        height: 34px;
    }
}
@media screen and (max-width: 730px) {
    .footer {
        max-width: 395px;
    }
    .footer__heding {
        font-size: 28px;
        line-height: 100%;
    }
    .footer__info-form-container {
        flex-direction: column;
    }
    .footer__info-container {
        max-width: 395px;
        margin: 0;
    }
    .header__row_column {
        display: flex;
        margin: 32px auto 48px 30px;
    }
    .footer__form {
        width: 395px;
        margin-top: 48px;
    }
    .footer__form-heading {
        font-size: 24px;
        line-height: 30px;
        margin: 0 0 16px;
    }
    .footer__form-span {
        font-size: 16px;
        line-height: 22px;
    }
    .footer__copyright {
        margin: 64px auto 32px;
        font-size: 20px;
        line-height: 25px;
    }
}